@use "_variables.scss" as *;

// body,
// button {
//   cursor: none;
// }

.buttons {
  z-index: 10;
  position: absolute;
  //right: 36rem;
  bottom: 14rem;
  width: 3.5rem;
  height: 3.5rem;
  right: 15px;
  bottom: 200px; // Basic styles jordy zijn bottom was 165px (moest het er bij jullie wackier uit zien fso, kusjes ;) )

  .button {
    transition: 0.3s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: none;
    background-color: #404040;
    color: white;
    position: absolute;
    opacity: 0;
  }

  .button1 {
    top: -60px;
    left: -50px;
    transition-delay: 0.1s;
  }

  .button2 {
    top: 5px;
    left: -100px;
    transition-delay: 0.175s;
  }

  .test {
    display: none;
  }

  .button3 {
    top: 70px;
    left: -50px;
    transition-delay: 0.25s;
  }

  .eyetracker:hover .button {
    opacity: 1;
  }

  .eyetracker {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 0;
    box-sizing: border-box;

    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: inherit;
    font-weight: 700;

    // Required, since we're setting absolute on pseudo-elements
    vertical-align: middle;

    &::before,
    &::after {
      box-sizing: inherit;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .spin {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    background-color: #2d2d2d;

    &:hover {
      color: #00ff88;
    }

    &::before,
    &::after {
      top: 0;
      left: 0;
    }

    &::before {
      border: 2px solid transparent; // We're animating border-color again
    }

    &:hover::before {
      border-top-color: #00ff88; // Show borders
      border-right-color: #00ff88;
      border-bottom-color: #00ff88;

      transition: border-top-color 0.45s linear,
        // Stagger border appearances
        border-right-color 0.45s linear 0.3s,
        border-bottom-color 0.45s linear 0.6s;
    }

    &::after {
      border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
    }

    &:hover::after {
      border-top: 2px solid #00ff88; // Shows border
      border-left-width: 2px; // Solid edges, invisible borders
      border-right-width: 2px; // Solid edges, invisible borders
      transform: rotate(270deg); // Rotate around circle
      transition: transform 1.2s linear 0s, border-left-width 0s linear 1.05s; // Solid edge post-rotation
    }
    animation: rotateAndBorder 12s linear infinite;
  }
  .circle {
    border-radius: 100%;
    box-shadow: none;

    &::before,
    &::after {
      border-radius: 100%;
    }
  }

  //deze code is specifiek voor de muziek button van de eyetrack button!

  .eyetrackermusic {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 0;
    box-sizing: border-box;

    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: inherit;
    font-weight: 700;

    // Required, since we're setting absolute on pseudo-elements
    vertical-align: middle;

    &::before,
    &::after {
      box-sizing: inherit;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .spinmusic {
    padding: 0;
    background-color: #404040;

    &:hover {
      color: #61efff;
    }

    &::before,
    &::after {
      top: 0;
      left: 0;
    }

    &::before {
      border: 2px solid transparent; // We're animating border-color again
    }

    &:hover::before {
      border-top-color: #61efff; // Show borders
      border-right-color: #61efff;
      border-bottom-color: #61efff;

      transition: border-top-color 0.15s linear,
        // Stagger border appearances
        border-right-color 0.15s linear 0.1s,
        border-bottom-color 0.15s linear 0.2s;
    }

    &::after {
      border: 0 solid transparent; // Makes border thinner at the edges? I forgot what I was doing
    }

    &:hover::after {
      border-top: 2px solid #61efff; // Shows border
      border-left-width: 2px; // Solid edges, invisible borders
      border-right-width: 2px; // Solid edges, invisible borders
      transform: rotate(270deg); // Rotate around circle
      transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s; // Solid edge post-rotation
    }
    animation: rotateAndBorder 4s linear infinite;
  }
  .circlemusic {
    border-radius: 100%;
    box-shadow: none;

    &::before,
    &::after {
      border-radius: 100%;
    }
  }
}
