@use "_variables.scss" as *;


#eyeButton {
    z-index: 10;
    position: absolute;
    right: 36rem;
    bottom: 14rem;
    background-color: #c0c0c079;
    border-radius: 1.5rem;
    border: none;
    width: 3.5rem;
    height: 3.5rem;

    i{
        color: #ffffffab;
    }
}