@use "_variables.scss";

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between() {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color-darkest);
  @include flex();
  height: 100vh;
}

.mediaplayer {
  color: var(--neutral-white);
  background-color: var(--background-color-dark);
  padding: var(--unit8);
  border-radius: var(--border-radius);
  flex-direction: column;
  gap: var(--unit8);
  max-width: 425px;
}

.heading {
  @include flex();
  justify-content: space-between;
  width: 100%;
}

.info {
  text-align: center;
  &__title {
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    color: var(--neutral-grey);
    letter-spacing: var(--letter-spacing);
  }
  &__subtitle {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: var(--neutral-white);
  }
}

.cover {
  margin-block: var(--unit8);
}

.song {
  line-height: 140%;
  &__title {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-medium);
    color: var(--neutral-white);
  }
  &__description {
    font-size: var(--font-size-normal);
    color: var(--neutral-grey);
  }
}

//progress
.progress {
  &__bar {
    width: 100%;
  }
  &__time {
    @include space-between();
    font-size: var(--font-size-small);
  }
}

//controls
.controls {
  @include flex();
  justify-content: space-around;
  margin-top: var(--unit12);
  margin-bottom: var(--unit8);
  width: 100%;
  font-size: var(--font-size-huge);
}
