:root {
  //colors
  --background-color-darkest: #17171f;
  --background-color-dark: #2b2b35;
  --neutral-white: #f9f4f4;

  //fonts
  --font-family: Poppins, sans-serif;

  //font-weights
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-small: 300;

  //font-sizes
  --font-size-huge: 5rem;
  --font-size-big: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.75rem;
  --font-size-tiny: 0.5rem;

  //spacings
  --grid-unit: 0.25rem;
  --unit2: calc(var(--grid-unit) * 2);
  --unit4: calc(var(--grid-unit) * 4);
  --unit6: calc(var(--grid-unit) * 6);
  --unit8: calc(var(--grid-unit) * 8);
  --unit12: calc(var(--grid-unit) * 12);
  --unit16: calc(var(--grid-unit) * 16);
  --unit32: calc(var(--grid-unit) * 32);
}
