:root {
  //colors
  --background-color-darkest: #0f0f0f;
  --background-color-dark: rgba(43, 43, 53, 0.508);
  --neutral-white: #f2f3f4;
  --neutral-grey: #c1c1c1;

  //fonts
  --font-family: Poppins, sans-serif;

  //font-weights
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-small: 300;

  //font-sizes
  --font-size-huge: 1.8rem;
  --font-size-big: 1.6rem;
  --font-size-medium: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.75rem;
  --font-size-tiny: 0.5rem;

  //spacings
  --grid-unit: 0.25rem;
  --unit2: calc(var(--grid-unit) * 2);
  --unit4: calc(var(--grid-unit) * 4);
  --unit6: calc(var(--grid-unit) * 6);
  --unit8: calc(var(--grid-unit) * 8);
  --unit12: calc(var(--grid-unit) * 12);
  --unit16: calc(var(--grid-unit) * 16);
  --unit24: calc(var(--grid-unit) * 24);
  --unit32: calc(var(--grid-unit) * 32);
  --letter-spacing: calc(var(--grid-unit) / 2);

  //border-radius
  --border-radius: var(--unit6);
}
